stars from lorewiki/*
push.sh

# ignore everything with those specific extensions under documents directory
documents/**/*.aux
documents/**/*.log
documents/**/*.out
documents/**/*.synctex.gz
documents/**/*.toc

rendering_zone/*.png
rendering_zone/*.webp
