stars from lorewiki/*
push.sh
force_push.sh
*.par2

# ignore everything with those specific extensions under documents directory
documents/**/*.aux
documents/**/*.log
documents/**/*.out
documents/**/*.synctex.gz
documents/**/*.toc

rendering_zone/**/*.png
rendering_zone/**/*.webp
rendering_zone/**/*.gif
rendering_zone/**/*.scad

tools/orbit_search_tool/allnum.cat

images/10_000_asteroids.scad
images/100_000_asteroids.scad
images/*.png
